/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Global Settings */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #000000;
}

/* Header Section */
.header {
    background-image: url("{{ url_for('static', filename='myimage.jpg') }}");
    background-size: cover;
    background-position: center;
    height: 350px;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.header h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

.header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* About Section */
.about {
    background-color: #fff;
    padding: 50px;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}

/* Services Section */
.services {
    background-color: #eeeeee;
    padding: 50px 0;
    text-align: center;
}

.services h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.service-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: transform 0.3s;
}

.service:hover {
    transform: translateY(-10px);
}

.service h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.service p {
    font-size: 1rem;
}

/* Footer Section */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer p {
    font-size: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .service-items {
        flex-direction: column;
    }

    }

